header {
    text-align: center;
}

a.menu {
    border: 2px solid black;
    border-radius: 6px;
    padding: 4px 12px 4px 12px;
}

@keyframes spinning {
    0% {transform: scale(1,1);}
    50% {transform: scale(1,1);}
    55% {transform: scale(-1,1);}
    60% {transform: scale(-1,-1);}
    65% {transform: scale(1,-1);}
    70% {transform: scale(1,1);}
    100% {transform: scale(1,1);}
}

img {
    animation-name: spinning;
    animation-duration: 60s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}
